<?php
/**********************************************************
 *
 *        DEFINING THE DATABASE's CONSTANTS
 *
 **********************************************************/

DEFINE('DB_DRIVER' , 'mysql');
DEFINE('DB_HOST' , 'localhost'); //host
DEFINE('DB_SERVER_PORT' , '3306'); //port
DEFINE('DB_USER' , 'root'); //user
DEFINE('DB_PASSWORD' , 'tovenaar'); //password
DEFINE('DB_NAME','diff_tester'); // data base name
DEFINE('DB_CHARSET','UTF8');

/**********************************************************
 *
 *        RELATIVE PATH SETTINGS
 *
 **********************************************************/
DEFINE('DEVICES',
  array(
    array(1680, 1050),
    // array(480, 320),
)); //devices to test
DEFINE('DOMAIN', 'webpprod.univ-montp3.fr'); //domain of your website
DEFINE('SUB_DOMAIN', 'webpprod'); //sub domain for test if they are dev links
DEFINE('HOME', 'https://webpprod.univ-montp3.fr'); //first url that going to test
DEFINE('MENU_div_a', '<header id="page-header"'); //first url that going to test
DEFINE('MENU_div_b', '</header>'); //first url that going to test
DEFINE('HOME_new', 'https://webpprod.univ-montp3.fr'); //first url of the new website that going to test
DEFINE('MENU_new_div_a', '<header id="page-header"'); //first url that going to test
DEFINE('MENU_new_div_b', '</header>'); //first url that going to test
DEFINE('MAX_URLS', -1); //first url that going to test (-1 for unlimited)
DEFINE('BAN_WORDS', array(
  'mailto',
  '.pdf',
  'facebook.com',
  'twitter.com',
  'upv.univ-montp3.fr',
  '@univ-montp3.fr',
  'cales.formations.univ-montp3.fr',
  'mister-wong.de',
  'digg.com',
  'del.icio.us',
  'webtv.univ-montp3.fr',
  'yahoo.com',
  'yigg.de',
  'univ-montp3.fr/fr/file/',
  'univ-montp3.fr/file/',
  'forward?path=oaspace',
  'etu.univ-montp3.fr',
  'webtv.univ-montp3.fr'
)); // array with all the ban words in urls
