<?php
/**********************************************************
 *
 *        DEFINING THE DATABASE's CONSTANTS
 *
 **********************************************************/

DEFINE('DB_DRIVER' , 'mysql');
DEFINE('DB_HOST' , 'localhost'); //host
DEFINE('DB_SERVER_PORT' , '3306'); //port
DEFINE('DB_USER' , 'root'); //user
DEFINE('DB_PASSWORD' , ''); //password
DEFINE('DB_NAME','diff_tester'); // data base name
DEFINE('DB_CHARSET','UTF8');

/**********************************************************
 *
 *        RELATIVE PATH SETTINGS
 *
 **********************************************************/
DEFINE('DEVICES',
  array(
    array(1680, 1050),
    array(480, 320),
)); //devices to test
DEFINE('DOMAIN', 'aielloantoine.com'); //domain of your website
DEFINE('HOME', 'https://aielloantoine.com'); //first url that going to test
DEFINE('MAX_URLS', -1); //first url that going to test (-1 for unlimited)
DEFINE('BAN_WORDS', array(
  'mailto',
  '.pdf',
  'facebook.com',
  'twitter.com',
)); // array with all the ban words in urls
